page-gallery {
  .page-gallery-background {
    position: relative;
    background: url('../assets/img/background.png') no-repeat transparent;
    background-size: cover;
    height: 100%;
    z-index: 1;
    background-repeat: repeat-x;
  }

/* CSS for nav-bar */
  .back-button {
    color: white;
  }
  .toolbar-title {
    color: white;
  }
}
