page-search {
  .page-search-background {
    position: relative;
    background: url('../assets/img/background.png') no-repeat transparent;
    background-size: cover;
    height: 100%;
    z-index: 1;
    background-repeat: repeat-x;
  }
  .page-search-item {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(255, 255, 255, 0);
  }
}

